* {
  box-sizing: border-box;
  transition: all 0.8s ease;
}

html, body {
  font-family: 'Spinnaker', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fbaf5d;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

h3 {
  font-size: 1em;
}

span {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

.clearfix {
  float: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.head {
  background-color: #fbaf5d;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.head-start {
  padding-top: 1px;
  padding-bottom: 3px;
}

.title-start {
  font-size: 1.5em;
}

.status-bar {
  display: inline-block;
  margin: 0 20px;
}

#game-area {
  /*min-height: 15.95em;*/
}

.game-bar {
  position: absolute;
  top: 1em;
  left: 25%;
  width: 50%;
  background-color: rgba(255,255,255, .9);
  border: solid #fbaf5d 2px;
  border-radius: 5px;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.card {
  display: inline-block;
  transition: 0.8s;
  margin: 10px;
}

.up, .down {
  background-size: cover;
  cursor: pointer;
  min-width: 150px;
  min-height: 150px;
}

.up {
  transform: rotateY(-180deg);
}

.down {
  background: url(../img/card-back.png) no-repeat;
  background-size: cover;
}

#start-btn {
  margin-top: 8em;
}

#win-lose-img {
  margin: 0 auto;
  padding: 0 14px;
  width: 100%;
  height: auto;
}

#win-lose-img img {
  width: 100%;
  height: 100%;
}

#comment {
  margin-left: 14px;
  margin-right: 14px;
}

#start-btn, .restart-btn {
  font-family: 'Spinnaker', sans-serif;
  color: #fbaf5d;
  background: transparent;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 20px 40px;
  border: solid #fbaf5d 2px;
  text-decoration: none;
  margin-right: 14px;
  margin-left: 14px;
  outline: none;
}

#game-restart > .restart-btn {
  margin: 0 20px;
}

#start-btn:hover, .restart-btn:hover {
  background: #fbaf5d;
  color: #fff;
  text-decoration: none;
}

.disableKey {
  pointer-events: none;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #fbaf5d;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
}

@media all and (min-width: 800px) {
  .container {
    width: 80%;
  }
  .game-bar {
    top: 1em;
    left: 33%;
    width: 33%;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}